{% extends 'layout.html.twig' %}

{% block title %}
	Register
{% endblock %}

{% block page_content %}
	<div class="layout-horizontal space-evenly">
		<div class="caption">Smart money moves start here.</div>
		<div class="border-form-wrapper">
			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}
			<h3>Create your SpendScout account here</h3>
			<div class="help-text">Hover the fields for requirements</div>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			<div class="names-wrapper">
				{{ form_row(registrationForm.firstName) }}
				{{ form_row(registrationForm.lastName) }}
			</div>
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			{{ form_row(registrationForm.terms, {
            label: 'Terms and conditions'
        }) }}

			<button type="submit" class="yellow-btn">Register</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
