{% extends 'layout.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('styles/register.css') }}" rel="stylesheet" data-turbo-track="reload">
{% endblock %}

{% block page_content %}
	<div class="layout-horizontal space-evenly">
		<div class="caption">Smart money moves start here.</div>
		<div class="border-form-wrapper">
			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}
			<h3>Create your SpendScout account here</h3>
			<div class="help-text">Hover the fields for requirements</div>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm, {attr: {id: 'registration-form'}}) }}
			<span class="names-wrapper">
				{{ form_row(registrationForm.firstName) }}
				{{ form_row(registrationForm.lastName) }}
			</span>
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword) }}
				<div>
			{{ form_row(registrationForm.terms, {
            label: 'Terms and conditions'
        }) }}
		</div>

			<button type="submit" class="yellow-btn" data-turbo="false">Register</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
