{% extends 'layout.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('styles/reports.css') }}" rel="stylesheet" data-turbo-track="reload">
{% endblock %}

{% block page_content %}
	<div class="layout-horizontal" data-controller="report" data-endpoint="{{ path('app_reports_report') }}">
		<div class="pie">
			<h3 class="chart-title" data-report-target="reportChartTitle">[{{ set_currency }}] Report</h3>
			{{ render_chart(pie_chart, {
				'data-report-target': 'reportChart',
				'id': 'report-chart'
				}) }}
			{% if isEntriesEmpty == false %}
				<div class="chart-border" data-report-target="chartBorder"></div>
			{% endif %}
		</div>
		<div class="controls">
			<u>
				<b>Currency</b>
			</u>
			<select name="currencies" id="currencies" data-report-target="reportFormCurrency" style="margin-bottom:1rem">
				{% for currency in currencies %}
					<option value="{{ currency.id }}" id="{{ currency.code }}" {% if currency.code == set_currency %} selected {% endif %}>
						{{ currency.code|currency_symbol('bg') }}
						({{ currency.code }})
					</option>
				{% endfor %}
			</select>
			<u>
				<b>Tag</b>
			</u>
			<select name="tags" id="tags" data-report-target="reportFormTag" style="margin-bottom:1rem" value="{{ set_currency }}">
				<option value="">Select tag</option>
				{% for tag in user_tags %}
					<option value="{{ tag.id }}" id="{{ tag.name }}">
						{{ tag.name }}
					</option>
				{% endfor %}
				{% for tag in default_tags %}
					<option value="{{ tag.id }}" id="{{ tag.name }}">
						{{ tag.name }}
					</option>
				{% endfor %}
			</select>
			<u>
				<b>Date</b>
			</u>
			<input type="date" id="report-date-from" name="report-date-from" data-report-target="reportFormDateFrom"/>
			to
			<input type="date" id="report-date-from" name="report-date-to" data-report-target="reportFormDateTo"/>
			<button class="yellow-btn" data-action="report#applyFilters">Apply</button>
		</div>
	</div>
{% endblock %}
