{% extends 'base.html.twig' %}

{% block body %}

	{% block page_header %}
		<div class="page-header">
			<div class="logo-wrapper" onclick="window.location.replace('{{ path('app_home_index') }}')">
				<img src="{{ asset('images/logo.png') }}" alt="SpendScout Logo" height="50" width="50"/>
				<span class="logo-caption">SpendScout</span>
			</div>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<nav class="header-nav">
					<a href="{{ path('app_reports_index') }}">Reports</a>
					<a href="{{ path('app_my_tags_index') }}">My tags</a>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('app_admin_index') }}">Admin panel</a>
					{% endif %}
				</nav>
				<div class="user-controls">
					<div class="profile-picture" style="background-color:rgb(
													{{ randomRGBFromString(app.user.firstName, 255) }},
													{{ randomRGBFromString(app.user.lastName, 255) }},
													{{ randomRGBFromString(app.user.firstName ~ app.user.firstName, 255) }})" onclick="window.location.replace('{{ path('app_profile_index')}}')">
						{{ app.user.firstName|first|upper }}{{ app.user.lastName|first|upper }}
					</div>
					<span class="username" onclick="window.location.replace('{{ path('app_profile_index')}}')">
						{{ app.user.firstName }}
						{{ app.user.lastName }}</span>
					<a href="{{ logout_path() }}">Log out</a>
				</div>
			{% elseif app.request.pathInfo == '/login' %}
				<a href="{{ path('app_register') }}" class="yellow-btn">Register</a>
			{% elseif app.request.pathInfo == '/register'%}
				<a href="{{ path('app_login') }}" class="white-btn">Log in</a>
			{% endif %}
		</div>
	{% endblock %}

	{% block page_content %}{% endblock %}

	{% block page_footer %}
		<div class="page-footer">
			<div class="logo-wrapper">
				<img src="{{ asset('images/logo.png') }}" alt="SpendScout Logo" height="50" width="50"/>
				<span class="logo-caption">SpendScout</span>
			</div>
			<div class="footer-links">
				<a href="#">About</a>
				<a href="#">Contacts</a>
				<a href="#">Terms and Conditions</a>
				<a href="#">Mobile app</a>
				<a href="https://perspecta-soft.com/bg/"><img src="https://perspecta-soft.com/Src/Site/public/img/logo.svg?v=2" alt="Perspecta Logo" width="80"/></a>
			</div>
			<div class="trademark">
				© SpendScout by Perspecta. 2024. An expense tracking app.
			</div>
		</div>

	{% endblock %}

{% endblock %}
